mat-card {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}
  
mat-card-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

mat-form-field {
    margin-bottom: 20px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button[mat-raised-button] {
    width: 48%;
}

button[mat-raised-button] {
    border-radius: 10px;
    padding: 5px;    
    background-color: rgb(200, 208, 211);
}
  